<app-create-task *ngIf="isOpen" (close)="closeCreate()"></app-create-task>
<div class="list">
  <div class="todo">
    <h1>Todo</h1>
    <button mat-icon-button color="accent" (click)="openCreate()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="content">
    <mat-accordion multi="true">
      <mat-expansion-panel *ngFor="let task of tasks">
        <mat-expansion-panel-header>
          {{ task.title }}
        </mat-expansion-panel-header>

        {{ task.content }}
        <mat-action-row>
          <button
            mat-button
            color="accent"
            (click)="onPushToDoing(task.id, task.title, task.content)"
          >
            <mat-icon>done</mat-icon>
          </button>
          <button mat-button color="warn" (click)="onDelete(task.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
