<app-forgot-password *ngIf="isForgotPassword" (close)="isForgotPassword = false"></app-forgot-password>
<form class="form user-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput type="email" placeholder="Enter your email" formControlName="email" />
    <mat-error *ngIf="formCtrls.email.invalid">
      {{ displayFormErrors(formCtrls.email, 'Email') }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      [type]="hidePassword ? 'password' : 'text'"
      placeholder="Enter your password"
      formControlName="password"
    />
    <mat-icon matSuffix (click)="hidePassword = !hidePassword">
      {{ hidePassword ? 'visibility_off' : 'visibility' }}
    </mat-icon>
    <mat-error *ngIf="formCtrls.password.invalid">
      {{ displayFormErrors(formCtrls.password, 'Password') }}
    </mat-error>
  </mat-form-field>
  <button mat-button type="submit" color="primary" [disabled]="loginForm.invalid">Log In</button>
  <button mat-button type="button" color="warn" (click)="onForgotPassword()">Forgot Password?</button>
</form>
