<app-create-task *ngIf="isOpen" (close)="closeCreate()"></app-create-task>
<div class="action">
  <button mat-mini-fab color="primary" matTooltip="Create a new task" matTooltipPosition="right" (click)="openCreate()">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="tasks-container">
  <div class="list">
    <div class="content">
      <mat-spinner *ngIf="isLoading"></mat-spinner>
      <app-tasks-card-list
        title="To Do"
        tooltip="Mark task as doing"
        [tasks]="todoTasks$ | async"
        (delete)="reloadTasks()"
        (changeStatus)="reloadTasks()"
      ></app-tasks-card-list>
    </div>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div class="list">
    <div class="content">
      <mat-spinner *ngIf="isLoading"></mat-spinner>
      <app-tasks-card-list
        title="Doing"
        tooltip="Mark task as done"
        [tasks]="doingTasks$ | async"
        (delete)="reloadTasks()"
        (changeStatus)="reloadTasks()"
      ></app-tasks-card-list>
    </div>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div class="list">
    <div class="content">
      <mat-spinner *ngIf="isLoading"></mat-spinner>
      <app-tasks-card-list
        title="Done"
        [tasks]="doneTasks$ | async"
        (delete)="reloadTasks()"
        (changeStatus)="reloadTasks()"
      ></app-tasks-card-list>
    </div>
  </div>
</div>
