.home {
  background: url(/assets/img/home-image.jpg) no-repeat center center/cover;
  height: calc(100% - 64px);
  position: fixed;
  width: 100%;
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.home__cta {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 30%;
  min-width: 250px;
  height: 100%;
}

.home__cta p {
  line-height: 1.6;
  font-size: 1.2rem;
}

@media only screen and (max-width: 599px) {
  .home {
    height: calc(100% - 56px);
  }
}
