.home {
  background: linear-gradient(
      to right bottom,
      rgba(232, 73, 126, 0.8),
      rgba(233, 30, 99, 0.8)
    ),
    url(../../../assets/img/home-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: calc(100% - 64px);
  position: relative;
}

.home__cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 10%;
  left: 5%;
  color: #fff;
  width: 250px;
}

.home__cta p {
  line-height: 1.6;
  text-align: center;
}

@media only screen and (max-width: 599px) {
  .home {
    height: calc(100% - 56px);
  }
}
