<app-create-task *ngIf="isOpen" (close)="toggleModal()"></app-create-task>
<div class="header">
  <div class="spacer"></div>
  <h3 class="project-name mat-h3">Project: {{ project?.name | titlecase }}</h3>
  <button mat-mini-fab color="primary" matTooltip="Create new task" matTooltipPosition="right" (click)="toggleModal()">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="tasks-container">
  <div class="list">
    <div class="content">
      <app-tasks-card-list
        title="To Do"
        forwardTooltip="Mark task as 'doing'"
        [isLoading]="isLoading"
        [tasks]="todoTasks$ | async"
        (edit)="toggleModal()"
      >
      </app-tasks-card-list>
    </div>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div class="list">
    <div class="content">
      <app-tasks-card-list
        title="Doing"
        forwardTooltip="Mark task as 'done'"
        backTooltip="Mark task as 'to do'"
        [isLoading]="isLoading"
        [tasks]="doingTasks$ | async"
        (edit)="toggleModal()"
      >
      </app-tasks-card-list>
    </div>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div class="list">
    <div class="content">
      <app-tasks-card-list
        title="Done"
        backTooltip="Mark task as 'doing'"
        [isLoading]="isLoading"
        [tasks]="doneTasks$ | async"
        (edit)="toggleModal()"
      >
      </app-tasks-card-list>
    </div>
  </div>
</div>
