:host {
  min-height: calc(100% - 64px - 64px);
}

.action {
  margin: 20px;
  text-align: end;
}

.container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.mat-card {
  min-width: 200px;
  margin: 20px;
}

.mat-card-content {
  margin-top: 10px;
}

.mat-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  text-align: center;
}
