<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) && isOpened"
  >
    <mat-toolbar color="primary" class="mat-elevation-z2">Menu</mat-toolbar>
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/board"
        routerLinkActive="active"
        (click)="drawer.close()"
      >
        My Board
      </a>
      <a
        mat-list-item
        routerLink="/signup"
        routerLinkActive="active"
        (click)="drawer.close()"
      >
        Sign Up
      </a>
      <a
        mat-list-item
        routerLink="/login"
        routerLinkActive="active"
        (click)="drawer.close()"
      >
        Log In
      </a>
      <a mat-list-item (click)="drawer.close()">
        Log Out
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z8">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><a routerLink="">devDo</a></span>
      <div class="spacer"></div>
      <mat-nav-list class="main-navigation" *ngIf="!(isHandset$ | async)">
        <a mat-list-item routerLink="/board" routerLinkActive="active">
          My Board
        </a>
        <a mat-list-item routerLink="/signup" routerLinkActive="active">
          Sign Up
        </a>
        <a mat-list-item routerLink="/login" routerLinkActive="active">
          Log In
        </a>
        <a mat-list-item>
          Log Out
        </a>
      </mat-nav-list>
    </mat-toolbar>

    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
