<div class="list">
  <h1>Done</h1>
  <div class="content">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <mat-accordion multi="true" *ngIf="!isLoading">
      <mat-expansion-panel *ngFor="let task of doneTasks">
        <mat-expansion-panel-header>
          {{ task.title }}
        </mat-expansion-panel-header>

        {{ task.content }}
        <mat-action-row>
          <button
            mat-button
            (click)="onUndo(task.id, task.title, task.content)"
          >
            <mat-icon>undo</mat-icon>
          </button>
          <a
            mat-button
            color="accent"
            [routerLink]="['/board/done/edit', task.id]"
          >
            <mat-icon>edit</mat-icon>
          </a>
          <button mat-button color="warn" (click)="onDelete(task.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
