<div class="list">
  <h1>Doing</h1>
  <div class="content">
    <mat-accordion multi="true">
      <mat-expansion-panel *ngFor="let task of doingTasks">
        <mat-expansion-panel-header>
          {{ task.title }}
        </mat-expansion-panel-header>

        {{ task.content }}
        <mat-action-row>
          <button
            mat-button
            color="accent"
            (click)="onPushToDone(task.id, task.title, task.content)"
          >
            <mat-icon>done_all</mat-icon>
          </button>
          <button mat-button color="warn" (click)="onDelete(task.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
