html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/* Form styles.*/
.form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.user-form {
  min-width: 300px;
  width: 40%;
  margin: 50px auto;
}

.modal__form,
.modal__form > * {
  width: 100%;
}

.mat-form-field {
  margin-bottom: 8px;
}

.mat-icon {
  cursor: pointer;
}

.mat-spinner {
  margin: 50px auto;
}
