html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

h1 {
  font-weight: 400;
}

.mat-expansion-panel:not(:last-child) {
  margin-bottom: 10px;
}

.mat-expansion-panel-body {
  text-align: left;
}

.list {
  width: 300px;
}

/* Form styles.*/
.form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.user-form {
  min-width: 300px;
  width: 40%;
  margin: 50px auto;
}

.modal__form {
  width: 90%;
}

.mat-form-field {
  margin-bottom: 8px;
}

.mat-icon {
  cursor: pointer;
}

.mat-spinner {
  margin: 50px auto;
}
