html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

h1 {
  font-weight: 400;
}

mat-expansion-panel:not(:last-child) {
  margin-bottom: 10px;
}

.mat-expansion-panel-body {
  text-align: left;
}

.list {
  width: 300px;
}

/* Form styles.*/
.user-form {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.user-form-field {
  width: 400px;
  margin-bottom: 20px;
}

.mat-icon {
  cursor: pointer;
}

mat-spinner {
  margin: 50px auto;
}

@media only screen and (max-width: 600px) {
  .user-form-field {
    width: 300px;
  }
}
