.page-not-found {
  position: relative;
  height: calc(100% - 64px);
}

.heading {
  font-size: 450%;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 599px) {
  .page-not-found {
    height: calc(100% - 56px);
  }
}
